/* This CSS file will need to be added to the styling of
your web pages for the styles to be rendered. */

body {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
}

a {
    color: #ffc107;
}

.jumbotron {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100vh;
    color: white;
    font-weight: bold;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}

th{
    color: #ffc107;
    background-color: darkslateblue;
    text-align: center;
}
table, td, th{
    border: 10px solid darkslateblue !important;
}

.flashed-messages-delete {
    margin-top: 20px;
    padding-top: 20px;
    font-size: 24px;
    color: red;
    font-weight: bold;
    background-color: greenyellow;
}
.flashed-messages-add {
    margin-top: 20px;
    padding-top: 20px;
    font-size: 24px;
    color: green;
    font-weight: bold;
    background-color: greenyellow;
}